<div id="card">
  <div id="inside">
    <header>
      <div id="left">
        Jean
      </div>
      <div class="right">
        Zoky be io an
      </div>
    </header>
    <figure id="art">
      <img src="/assets/img/profile-img.jpg">
      <figcaption>Trigramme: OYJ_STG</figcaption>
    </figure>
    <div id="description">
      <div class="blabla">
        <div class="main">
          Blabla de pré-ambule
        </div>
        <div class="descri">
          Tokony hihisy titre sy description le carte any le tuto de mba tiako hitovitovy iany le paoziny nefa za kamo be hamerina any le zavatra ataony le tuto de nataoko zavatra debile ohatra izao
        </div>
      </div>
    </div>
  </div>
</div>
